a {
    text-decoration: none;
}

.resizeimage img { 
    width: 100%; 
    
}

.title{
    margin:-50px 0 150px 0;
    font-size:4em;
    text-align:center;
    }

.content{
    display:flex;
    justify-content:space-around;
    margin:0px 0px 150px 0px
}

.contentimg img { 
    width: 50vw; 
}

.contentscr {
    width: 40vw;
}
.hrtitle{
    margin:-10px 0 0 0;
    border-top: 5px solid #2090ff;
}

.download {
    width: 150px;
    border: solid;
    line-height: 2.5;
    padding: 8px 20px 8px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    border-width:2px;
    background-color: rgb(59, 199, 13);
    color: #fff;
    border-color:rgb(59, 199, 13);
    transition:.2s
  }
  
  .download:hover {
    color: rgb(59, 199, 13);
    background-color:#fff;
  }
  
  
.cantdownload {
    width: 150px;
    height: 40px;
    border: solid;
    line-height: 2.5;
    padding: 8px 20px 8px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    border-width:2px;
    color: rgb(59, 199, 13);
    background-color:#fff;
    border-color:rgb(59, 199, 13);
}